<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">
    <filter>
        <filter-name>CrossingProfile</filter-name>
        <filter-class>findwith.servlets.Authorization</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CrossingProfile</filter-name>
        <url-pattern>/profile.jsp</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>findwith.registration.Signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signin</servlet-name>
        <servlet-class>findwith.servlets.Signin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupSubmit</servlet-name>
        <servlet-class>findwith.servlets.SignupSubmit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>findwith.profiles.Profile</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signin</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SignupSubmit</servlet-name>
        <url-pattern>/SignupSubmit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCourse</servlet-name>
        <url-pattern>/addCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddWork</servlet-name>
        <url-pattern>/addWork</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSkill</servlet-name>
        <url-pattern>/addSkill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Step_2</servlet-name>
        <url-pattern>/signup-step2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserProfile</servlet-name>
        <url-pattern>/create-person-profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateOrganizationProfile</servlet-name>
        <url-pattern>/create-organization-profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindPeople</servlet-name>
        <url-pattern>/find-people</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfile</servlet-name>
        <url-pattern>/update-profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindIndusrty</servlet-name>
        <url-pattern>/find-industry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindUniversities</servlet-name>
        <url-pattern>/find-universities</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindFaculties</servlet-name>
        <url-pattern>/find-faculties</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindCountries</servlet-name>
        <url-pattern>/find-countries</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindCities</servlet-name>
        <url-pattern>/find-cities</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSkill</servlet-name>
        <url-pattern>/delete-skill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCourse</servlet-name>
        <url-pattern>/delete-course</url-pattern>
    </servlet-mapping>




    <servlet>
        <servlet-name>FindIndusrty</servlet-name>
        <servlet-class>findwith.update.FindIndustry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfile</servlet-name>
        <servlet-class>findwith.update.UpdateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>findwith.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindPeople</servlet-name>
        <servlet-class>findwith.profiles.FindPeople</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MongoSignup</servlet-name>
        <servlet-class>findwith.profiles.MongoSignup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCourse</servlet-name>
        <servlet-class>findwith.update.AddCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddWork</servlet-name>
        <servlet-class>findwith.update.AddProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSkill</servlet-name>
        <servlet-class>findwith.update.AddSkill</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Step_2</servlet-name>
        <servlet-class>findwith.registration.Step_2</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CreateUserProfile</servlet-name>
        <servlet-class>findwith.registration.CreateUserProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateOrganizationProfile</servlet-name>
        <servlet-class>findwith.registration.CreateOrganizationProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindUniversities</servlet-name>
        <servlet-class>findwith.update.FindUniversities</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindFaculties</servlet-name>
        <servlet-class>findwith.update.FindFaculties</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindCountries</servlet-name>
        <servlet-class>findwith.update.FindCountries</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindCities</servlet-name>
        <servlet-class>findwith.update.FindCities</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSkill</servlet-name>
        <servlet-class>findwith.update.DeleteSkill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCourse</servlet-name>
        <servlet-class>findwith.update.DeleteCourse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MongoSignup</servlet-name>
        <url-pattern>/MongoSignup</url-pattern>
    </servlet-mapping>
</web-app>
